# Week 4 Code Examples

## Question - How to do 2.1.18?

In [1]:
#How to do 2.1.18 - Programming***Essentials***in...Python

print("Programming","Essentials","in",sep="***",end="...")
print("Python")

Programming***Essentials***in...Python

## Addition Arithemetic Operator Don't confuse with concatenate with Strings

In [2]:
#Addition Example

print(2+2)

4

In [3]:
#Don't confuse Addition Arithmetic Operator with String concatenation
print('Add' + ' This')

Add This

## Exponent Arithmetic Operator

In [4]:
#Exponent Examples with Integers and Floats

print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)

8
8.0
8.0
8.0

## Multiplication Arithmetic Operator

In [5]:
#Multiplication Examples with Integers and Floats

print(2 * 3)
print(2 * 3.)
print(2. * 3)
print(2. * 3.)

6
6.0
6.0
6.0

## Division Arithmetic Operator

In [6]:
#Division Examples. Answer is always a float.

print(6 / 3)
print(6 / 3.)
print(6. / 3)
print(6. / 3.)

2.0
2.0
2.0
2.0

## Integer Division Arithmetic Operator

In [7]:
#Integer Division Examples

#Both Numbers are Integers - Integer Division Produces an Integer
print(22 // 8)

2

In [8]:
#Dividend is an Integer and the Divisor is a Float

print(22 //8.)

2.0

In [9]:
#Dividend is a Float and the Divisor is an Integer

print(22. // 8)

2.0

In [10]:
#Negative Number - Rounding goes toward the lesser integer value.
#
# -6 divided by 4 is -1.5 with regular division
#
# for Integer Division, Round down to the lesser integer value.
# -1.5 rounded down is -2

print(-6 / 4)
print(-6 // 4)

-1.5
-2

## Examples of Integer Division vs Regular Division Also See Slide

In [11]:
#Integer Division Examples

print(22//8)
print(6//4)
print(2//1)
print(1//2)
print(2//3)

2
1
2
0
0

In [12]:
#Regular Division Examples

print(22/8)
print(6/4)
print(2/1)
print(1/2)
print(2/3)

2.75
1.5
2.0
0.5
0.6666666666666666

## Modulo % Means Remainder - See Slides

In [13]:
print(14 % 4)
print(12 % 4.5)
print(2 % 2)
print(0 % 2)
print(1 % 2)
print(1 % 3)
print(2 % 3)

2
3.0
0
0
1
1
2

## Order of Operators

In [14]:
# Example Moving Left to Right - See Slide
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

In [15]:
#Example Including Exponents Moving Right to Left
# 3 ** 2 is solved first = 9
# 2 ** 9 is 512
# Can also be written (2 ** (3 ** 2))

print(2 ** 3 **2)

512