# Python Libraries 101

## Session #4: Mathematical Computations

## List of Topics:
  1. random
  2. math
  3. statistics

-----------------------------------
-----------------------------------

## random module

In [1]:
import random  # we don't need to install it separately

### Functions

random.seed(), random.randint(), random.randrange()

In [46]:
random.seed(8) # initialises the random number generator, causing the same number to be generated 
print(random.randint(0,10))

3

In [10]:
random.randrange(0,20) # returns a random number between the given range, includes starting term, excludes last term

9

In [13]:
random.randrange(0,10,2) 
# returns a random number between the given range, 
# includes starting term, excludes last term, divisible by step term

2

In [16]:
random.randint(30,100) # returns a random number between the given range, includes starting term and last term

50

Generate 3 random integers between 100 and 999 (does not include endpoints) which is divisible by 5

In [20]:
for i in range (3):
  print(random.randrange(105,999,5))

150
140
570

random.choice(), random.shuffle()

In [23]:
random.choice("hello world")

'w'

In [26]:
lst=['a','b','c','d','e','f']
random.shuffle(lst)
print(lst)

['e', 'a', 'd', 'c', 'f', 'b']

Shuffle the list of names then pick a random name from the list

In [29]:
list_of_names=['Soumya','Karen','Shermaine','Mary','Amber','Stephanie','Archana']
random.shuffle(list_of_names)
print(random.choice(list_of_names))

Karen

Roll the dice 5 times, but in a way that every time you roll, you get the same number

In [37]:
dice = [1,2,3,4,5,6]
print("Randomly selecting the same number of a dice")
for i in range(5):
  random.seed(9)
  print(random.choice(dice))

Randomly selecting the same number of a dice
4
4
4
4
4

random.random(), random.uniform()

In [39]:
random.random() # returns a random float number between 0 and 1

0.2671344216059104

In [47]:
random.uniform(2.0975,5) # returns a random float number between two given parameters

3.1726204601717094

Calculate multiplication of two random float numbers

In [44]:
num1 = random.random()
num2 = random.random()
print("Number 1: ",num1)
print("Number 2: ",num2)
print(num1*num2)

Number 1:  0.9363858671236786
Number 2:  0.7000982987947446
0.6555621525887292

--------------------------

## math module

In [48]:
import math

### Functions

Conversion between radians and degree

In [50]:
math.degrees(3.141592653589793/2) # converts radians to degree

90.0

In [52]:
math.radians(58) # converts degree to radians

1.0122909661567112

Rounding off

In [53]:
math.ceil(0.4) # rounds a number up to the nearest integer

1

In [54]:
math.floor(2.8) # rounds a number down to the nearest integer

2

Math Operators

In [56]:
math.fmod(536875,697) # returns the remainder of first number/second number

185.0

In [59]:
lst=[4,3,2,7,231,1,2,3,5,7,8,242,291.3]
math.fsum(lst) # returns the sum of all items in any iterable

806.3

In [60]:
math.trunc(123123.123) # returns the truncated integer parts of a number

123123

In [61]:
math.exp(2) # returns e raised to the power of x

7.38905609893065

In [62]:
math.fabs(-123) # returns the absolute value of a number

123.0

In [64]:
math.factorial(6) # returns the factorial of a number

26506016203388241830083948997122652308733243338791419536953875886722692493008546012916115491842024403640634606119811654494960119347553512170184954581649456512183885914608396800059608375592447362329407943094210173381790216758759017342540215389927351064363904755296999411881205036151631336836051358908668077745828018771747923652107717212809973708371639150728292395090107923427853395267621455010308659542795157919830444171577803932629609206225428626466811768877335722109345311255092764023575274231983296290468581976019822772030496898374669507201569697294525346621095620158620371197224469584139293138366734587631061167677858001359663451297658620624858965315925665233443205447440341991938724375299383576578104072221856987100695632247075421654330333948010781347154303991252814104560847635422755599186026685216314850231659624562900319214280097604572781954949543525866542049157525751004332081958371169820152666082210185139400793702776726740383739681487909516855387224635397566425495218902798019263680480878754651459955945603626122774397558304221041588595092442581383996268161182753055597613167969931202898304794845827769097511284792011270580678811015214918185741021361082830278964830702050351526980415350903155226041275138765445148480612654766507634112782314890493103172411669547734526357355781441885525250860511675586888440428066067954260455607935172746605219280291455041536000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

------------------------------

## statistics module

In [65]:
import statistics

### Functions

In [74]:
lst=[1,5,6,7,8,23,34,100,100,123]

In [67]:
statistics.mean(lst) # calculates the mean (average) of the given data

40.7

In [75]:
statistics.median(lst) # calculates the median (middle value) of the given data

23

In [76]:
statistics.median_high(lst) # calculates the high median of the given data

23

In [77]:
statistics.median_low(lst) # calculates the low median of the given data

23

In [71]:
statistics.mode(lst) # calculates the mode (central tendency) of the given numeric or nominal data

100

In [72]:
statistics.stdev(lst) # calculates the standard deviation from a sample of data

47.6376368478165

In [73]:
statistics.variance(lst) # calculates the variance from a sample of data

2269.3444444444444